* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}